@inherits LayoutComponentBase

<style>
    body {
        width: 100%;
        height: 100%;
    }
</style>
<div class="page">
    <main>
        <article class="content" style="margin-top:-20px; background-color:white;" >
            @Body
        </article>

    </main>
</div>
