@page "/allnotification"
@layout AuthLayout
<div>
    @* header *@
    <div class="container-fluid margin-top:20px" style="background-color:#00416d;width:100%;">

        @* heading *@

        <div class="d-flex align-items-center p-3 ">
            <i class="fa fa-arrow-left" style="color: #ffffff;font-size:22px;font-weight:100" onclick="@goBack"></i>
            <p style="color: #ffffff;font-size:18px;margin:0 20px">My Request</p>
        </div>


        @* filter  *@
    </div>
    </div>