   <RadzenStack Orientation="Orientation.Vertical" style="height:100%" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <div class="spinner-border " style="color:#00416D" role="status">
    </div>
    </RadzenStack>

   